.Worb-break {
  word-break: break-all;
}

/* explore accounts */
.ExploreAccount{
  margin: 40px 0!important;
}


/* account page */
.AccountPageContainer {
  text-align: center;
}
.ProfileImage {
  object-fit: cover;

  width: 40px;
  height: 40px;
}


.AccountPage {
  margin: 0 auto;
  text-align: center;
  width: fit-content;
}

.Form {
  margin: 0 auto;
  text-align: center;
  width: fit-content;
}

.AccountProfileImage {
  height: 100px;
}
