.AccountPage {
  margin: 0 auto;
  text-align: center;
  width: fit-content;
}
.AccountDropdownContainer{
  position: absolute;
  right: 0px;
  top: 10px;
}
.ProfileImageName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.AccountProfileImage {
  width: 100px;
  height: 100px;
  }
  .AccountInformation{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.AccountInformationConatiner{
    display: flex;
    flex-direction: column;
    width: 100px;
}

@media screen and (max-width: 450px) {
  .AccountInformation{
    padding-bottom: 10px;
    font-size: 15px;
  }
  .AccountInformationConatiner{
    font-size: 15px;
    width: 70px;
}
}

@media screen and (max-width: 300px) {
  .AccountInformationConatiner{
    font-size: 12px;
    width: 50px;
}
.AccountInformation{
  padding-bottom: 5px;
  font-size: 12px;
}
}