.Button{
  border-radius: 15px;
  border-color: transparent!important;
  width: 90px;
  padding: 4px;
  letter-spacing: 1px;
  font-size: 13px;
  background-color: #94a7ae!important;
  margin: 0 5px;
}
.CommentButton{
  border-radius: 15px;
  border-color: transparent!important;
  width: 70px;
  padding: 4px;
  letter-spacing: 1px;
  font-size: 11px;
  background-color: #94a7ae!important;
  margin: 0 2px;
}
.FollowButtons,
.Button {
  border-radius: 15px;
  border-color: transparent;
  width: 90px;
  padding: 4px;
  letter-spacing: 1px;
  font-size: 13px;
}
.FollowButtons:focus,
.Button:focus {
  background-color: #c0a9bd!important;
}
.FollowButtons:hover,
.Button:hover {
  background-color: #c0a9bd!important;
}
.FollowButtons:active,
.Button:active {
  background-color: #c0a9bd!important;
}

.Follow,
.Button {
  background-color: #94a7ae;
  border-radius: 15px;
  border-color: #94a7ae;
}

.UnFollow {
  background-color: #64766a;
}

.ChangeImage{
  border-color: #94a7ae;
  background-color: #94a7ae;
  color: #fff;
  width: 150px;
}

@media screen and (max-width: 1200px) {
  .FollowButtons {
    width: 75px;
    padding: 4px;
    letter-spacing: 1px;
    font-size: 10px;
  }
}

@media screen and (max-width: 500px) {
  .FollowButtons {
    width: 60px;
  }
}

@media screen and (max-width: 450px) {
  .FollowButtons {
    width: 50px;
    font-size: 9px;
    padding: 2px;
    letter-spacing: 0px;
  }
}