.Button{
  border-radius: 15px;
  border-color: transparent;
  width: 90px;
  padding: 4px;
  letter-spacing: 1px;
  font-size: 13px;
}
.FollowButtons,
.Button {
  border-radius: 15px;
  border-color: transparent;
  width: 90px;
  padding: 4px;
  letter-spacing: 1px;
  font-size: 13px;
}
.FollowButtons:focus,
.Button:focus {
  background-color: #c0a9bd;
}
.FollowButtons:hover,
.Button:hover {
  background-color: #c0a9bd;
}
.FollowButtons:active,
.Button:active {
  background-color: #c0a9bd;
}

.Follow,
.Button {
  background-color: #94a7ae;
  border-radius: 15px;
  border-color: #94a7ae;
}

.UnFollow {
  background-color: #64766a;
}

@media screen and (max-width: 1200px) {
  .FollowButtons {
    width: 75px;
    padding: 4px;
    letter-spacing: 1px;
    font-size: 10px;
  }
}

@media screen and (max-width: 500px) {
  .FollowButtons {
    width: 60px;
  }
}

@media screen and (max-width: 450px) {
  .FollowButtons {
    width: 50px;
    font-size: 9px;
    padding: 2px;
    letter-spacing: 0px;
  }
}