.CommentsButton {
  padding: 5px 10px;
}

.Form {
  text-align: center;
  margin: 40px auto;
  max-width: 70vw;
  width: 450px;
}

.CommentFormGroup{
  border-bottom: 1px solid;
}

.CommentsInput {
  border: none;
  background-color: transparent;
}
.CommentsInput:focus {
  background-color: transparent;
}
.CommentContainer {
  border-bottom: 1px solid;
  margin: 20px auto;
  width: 500px;
  height: 70px;

}
.AddComment{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.DateOwnerContainer{
  display: flex;
  flex-direction: row;
  width: 400px;
  justify-content: space-between;
  font-size: 15px;
  padding: 5px;
  color: #333333;
}
.Content{}

.profile_image{
  height: 40px;
  width: 40px;

}

@media screen and (max-width: 820px) {
  .CommentsInput{
    font-size: 12px;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .profile_image{
    height: 30px;
    width: 30px;
  }
}


@media screen and (max-width: 300px){
    .profile_image{
      height: 20px;
      width: 20px;
    }
}