.CommentsButton {
  padding: 5px 10px;
}

.Form {
  text-align: center;
  margin: 40px auto;
  max-width: 70vw;
  width: 450px;
}

.CommentFormGroup {
  border-bottom: 1px solid;
}

.CommentsInput {
  border: none;
  background-color: transparent;
}
.CommentsInput:focus {
  background-color: transparent;
}
.CommentContainer {
  border-bottom: 1px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin:  0 auto;
  max-width: 50vw;
}
.CommentMedia{
  width: 100%;
}
.AddComment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.DateOwnerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  padding: 5px;
  color: #333333;
  font-size: 12px;
}
.Content {
}

.profileImageStyles {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.UpdateCommentForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.CommentInputContainer{
  margin: 0;
}
.CommentUpdateInput {
  background-color: transparent;
  border: none;
  font-size: 12px;
 
}
.CommentUpdateInput:focus {
  background-color: transparent;
}

.CommentButtons{
  margin: 0 5px;
  padding: 5px 10px;
}
.ButtonContainer {
  display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.CommentMediaBody{
  font-size: 12px;
}

@media screen and (max-width: 820px) {
  .CommentsInput {
    font-size: 12px;
    padding-bottom: 0;
  }
  .CommentUpdateInput{
   
  }
  .CommentButtons{
    margin: 0 2px;
    padding: 4px 6px;
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .profileImageStyles {
    height: 30px;
    width: 30px;
  }

  .DateOwner{
    font-size: 13px;
  }
  .CommentUpdateInput{
    height: 30px;
    font-size: 14px;
    margin: 0 3px;
  }
  .Content{
    font-size: 13px;
  }

}
@media screen and (max-width: 450px) {
  .DateOwner{
    font-size: 10px;
  }
  .CommentUpdateInput{
    height: 25px;
    font-size: 11px;
    margin: 0;
  }
  .profileImageStyles{
    height: 25px;
    width: 25px;
  }
  .Content{
    font-size: 10px;
  }
}
@media screen and (max-width: 300px) {
  .profileImageStyles {
    height: 20px;
    width: 20px;
  }
}
