.ExploreAccounts {
    width: 20vw;
    position: fixed;
    top: 0px;
    right: 0;
    height: 100vh;
    padding-top: 50px;
    
    border-left: 1px solid #94A7AE;
    padding-left: 10px;

  }


@media screen and (max-width: 991px) {
    .ExploreAccounts {
      display: none;
    }
} 