.Image {
  height: 250px;
  width: 250px;
}

.Button {
  width: 100px;
  height: 35px;
  background-color: #000;
  margin: 0 15px;
  border: none;
}

.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: auto;
  height: 100vh;
}

.FormContainer {
}

.UploadPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.AddPostButton {
  display: none;
}
