.PostsPageContainer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    
}

.PostContainer{
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    
}
.PostsList{
    display: flex;
    flex-direction: column;
}

.NotFoundConatiner{
    height: 100vh;
    width: 475px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.ExploreAccounts{
    width: 350px;
    position: fixed;
    right: 0px;
    padding-top: 100px;
    height: 100vh;
    background-color: cadetblue;
}
