.PostContainer {
  margin: 40px auto;
  border: 1px solid;
  width: 452px;
}
.PostUserContainer {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ProfileImage {
  margin-right: 5px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 5px;
  background-color: transparent;
  width: 40px;
  height: 40px;
}
.PostImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.PostImage{
  height: 350px;
}
.PostUserLikesComments {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;

  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.PostCountContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.PostCounts {
  width: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.LikeComment {
  display: flex;
  flex-direction: row;
  width: 75px;
  justify-content: space-between;
}
.LikedPost {
  color: red;
}
.Icon {
  cursor: pointer;
}
/* saved posts */
.SavedPostIcon {
  flex-direction: row-reverse;
  margin-right: 20px;
}
.SavedPost {
  color: #01051b;
}
/* dropdown */
.DropdownContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 120px;
}
@media screen and (max-width: 600px) {
  .PostContainer {
    margin: 40px auto;
    border: 1px solid;
    max-width: 80vw;
  }
}
@media screen and (max-width: 500px) {
.ProfileImage{
  width: 35px;
  height: 35px;
}
.PostImage{
  height: 300px;
}
}
@media screen and (max-width: 450px) {
  .Username {
    font-size: 15px;
  }
  .Date {
    font-size: 14px;
  }
  .DropdownContainer {
    width: 100px;
  }
  .Caption {
    font-size: 15px;
  }
  .ProfileImage{
    height: 30px;
    width: 30px;
  }
  .PostImage{
    height: 250px;
  }
}
@media screen and (max-width: 400px) {
  .PostImage{
    height: 200px;
  }
  .LikeComment{
    width: 60px;
  }
  .PostCounts{
    width: 25px;
    font-size: 12px;
  }
  .DropdownContainer{
    justify-content: end;
  }
  .Username {
    font-size: 12px;
  }
  .Date {
    font-size: 12px;
  }
  .Caption {
    font-size: 12px;
  }
}
@media screen and (max-width: 300px) {
  .ProfileImage{
    height: 30px;
    width: 30px;
  }
  .PostUserLikesComments{
    padding-left: 5px;
    padding-top: 5px;
    height: unset;
  }
  .PostCounts{
    margin-right: 5px;
  }
}