.Profile {
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5px;
    background-color: transparent;
}

.ProfileContainer{
    background-color: transparent;
}

@media screen and (max-width: 450px) {
    .Profile {
        width: 30px;
        height: 30px;
        margin-right: 0;
    }
}