.Form{
    background-color: #c0a9bd;
    padding: 20px;
    border-radius: 10px;
}

.FormContainer{
    margin-top: 25vh;
}

.FormOuter{
    margin: 0 auto;
    width: 500px;
    max-width: 95vw;
}
.Row{
    margin-left: 0px;
    margin-right: 0px;
}

@media screen and (max-width: 820px) {
    .FormContainer{
        margin-top: 5vh;
    }
}

@media screen and (max-width: 450px) {
    .HaveAccount{
        font-size: 15px;
    }
}