* {
    background-color: rgb(184, 250, 193);
}
a{
    color: #000;
}
.App {
    font-family: 'Comfortaa', sans-serif;
    background-color: rgb(184, 250, 193);
    min-height: 100vh;
    min-width: 100vw;
}

.main{
    text-align: center;
}

.ExploreAccounts{
    width: 25vw;
    position: fixed;
    top: 0px;
    padding-top: 100px;
    height: 100vh;
    background-color: cadetblue;
    right: 0;
}

@media screen and (max-width: 820px) { 

    .ExploreAccounts{
        display: none;
    }
}