* {
  background-color: rgb(184, 250, 193);
}
a {
  color: #000;
}
.App {
  font-family: "Comfortaa", sans-serif;
  background-color: rgb(184, 250, 193);
}

.main {
  text-align: center;
}

.Brand {
  display: none;
}

@media screen and (max-width: 820px) {
  .App{
    margin-bottom: 100px;
  }

  .Brand {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: none;
  }
}
